# Node
/node_modules
*.log

# Build outputs
/dist
/bundle

# Hardhat
/artifacts
/cache
/coverage
/types
/.hardhat

# Ignition
/ignition/deployments

# Env
.env

# Editor / OS
.DS_Store
.idea
.vscode
*.swp
